* {
    padding: 0;
    margin: 0;
    font-family: 'poppines', sans-serif;
}

body {
    background-color: black;
}


.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 37.44%;
    position: absolute;
    top: 0;
    background-color: black;


}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    font-family: 'poppines' sans-serif;
    font-weight: bolder;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(44, 43, 43);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.hero-buttons {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;

    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);

}



.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg img {
    max-width: 401px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 38px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 15px;
    font-weight: bolder;

}

.faq h2 {
    text-align: center;
    font-size: 32px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {

    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 34px;
    max-width: 40vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
    ;
}

footer .questions {
    padding: 34px 0px;
    ;
}

footer a {
    font-size: 14px;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;


}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        max-width: 401px;

    }

    hero> :nth-child(1) {

        font-size: 20pxpx;



    }

    hero> :nth-child(2) {

        font-size: 16px;



    }

    hero> :nth-child(3) {

        font-size: 14px;



    }

    .hero-buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }
}



@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;

}